*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.accordion{
    background-color: gray;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 1.5s;
    font-size: 15px;
}
.active, .accordion:hover {
    background-color: #ccc; 
  }
  .panel{
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
  }
  p{
      font-size: larger;
      justify-content: center;
  }